In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv(r"C:\Users\DELL\Downloads\archive (40)\my_file (1).csv")
df.head()

,Rank,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1]
1,2,1,7[2],"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6]
3,4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7]
4,5,2[4],NaN,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Rank                              20 non-null     int64
 1   Peak                              9 non-null      object
 2   All Time Peak                     6 non-null      object
 3   Actual gross                      20 non-null     object
 4   Adjusted gross (in 2022 dollars)  20 non-null     object
 5   Artist                            20 non-null     object
 6   Tour title                        20 non-null     object
 7   Year(s)                           20 non-null     object
 8   Shows                             20 non-null     int64
 9   Average gross                     20 non-null     object
 10  Ref.                              20 non-null     object
dtypes: int64(2), object(9)
memory usage: 1.8+ KB

In [4]:
df= df.drop(columns = ["Rank","Peak","All Time Peak","Ref."])
df.head()

,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross
0,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571"
1,"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571"
2,"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294"
3,"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795"
4,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173"

In [5]:
print(df.columns.tolist())

['Actual\xa0gross', 'Adjusted\xa0gross (in 2022 dollars)', 'Artist', 'Tour title', 'Year(s)', 'Shows', 'Average gross']

In [6]:
df = df.rename(columns = {"Actual\xa0gross":"Actual Gross","Adjusted\xa0gross (in 2022 dollars)":"Adjusted gross (in 2022 dollars)"})
df.head(1)

,Actual Gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross
0,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571"

In [7]:
df[["Actual Gross","Adjusted gross (in 2022 dollars)","Average gross", "Tour title"]]

,Actual Gross,Adjusted gross (in 2022 dollars),Average gross,Tour title
0,"$780,000,000","$780,000,000","$13,928,571",The Eras Tour †
1,"$579,800,000","$579,800,000","$10,353,571",Renaissance World Tour
2,"$411,000,000","$560,622,615","$4,835,294",Sticky & Sweet Tour ‡[4][a]
3,"$397,300,000","$454,751,555","$2,546,795",Beautiful Trauma World Tour
4,"$345,675,146","$402,844,849","$6,522,173",Reputation Stadium Tour
5,"$305,158,363","$388,978,496","$3,467,709",The MDNA Tour
6,"$280,000,000","$381,932,682","$2,137,405",Taking Chances World Tour
7,"$257,600,000","$257,600,000","$6,282,927",Summer Carnival †
8,"$256,084,556","$312,258,401","$5,226,215",The Formation World Tour
9,"$250,400,000","$309,141,878","$2,945,882",The 1989 World Tour
10,"$229,100,000[b]","$283,202,896","$1,735,606",The Mrs. Carter Show World Tour
11,"$227,400,000","$295,301,479","$1,118,227",The Monster Ball Tour *
12,"$204,000,000","$251,856,802","$1,350,993",Prismatic World Tour
13,"$200,000,000","$299,676,265","$615,385",Living Proof: The Farewell Tour ‡[21][a]
14,"$194,000,000","$281,617,035","$3,233,333",Confessions Tour
15,"$184,000,000","$227,452,347","$1,295,775",The Truth About Love Tour
16,"$170,000,000","$213,568,571","$1,734,694",Born This Way Ball
17,"$169,800,000","$207,046,755","$2,070,732",Rebel Heart Tour
18,"$167,700,000[e]","$204,486,106","$1,385,950",Adele Live 2016
19,"$150,000,000","$185,423,109","$1,744,186",The Red Tour

In [8]:
df["Actual Gross"] = df["Actual Gross"].str.replace(r"[\$,]", "", regex=True)  
df["Actual Gross"] = df["Actual Gross"].str.replace(r"\[.*\]", "", regex=True)  
df["Adjusted gross (in 2022 dollars)"] = df["Adjusted gross (in 2022 dollars)"].str.replace(r"[\$,]", "", regex=True)
df["Average gross"] = df["Average gross"].str.replace(r"[/$,]", "", regex=True)
df["StartYear"] = df["Year(s)"].str.extract(r"(\d{4})")
df["Tour title"] = df["Tour title"].str.replace(r"[†‡\*]", "", regex=True)
df["Tour title"] = df["Tour title"].str.replace(r"\[.*?\]", "", regex=True)
df = df.drop(columns=["Year(s)"])
df.head(2)

,Actual Gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Shows,Average gross,StartYear
0,780000000,780000000,Taylor Swift,The Eras Tour,56,13928571,2023
1,579800000,579800000,Beyoncé,Renaissance World Tour,56,10353571,2023

In [9]:
df["Actual Gross"] = pd.to_numeric(df["Actual Gross"])
df["Adjusted gross (in 2022 dollars)"] = pd.to_numeric(df["Adjusted gross (in 2022 dollars)"])
df["StartYear"] = pd.to_numeric(df["StartYear"])
df["Average gross"] = pd.to_numeric(df["Average gross"])
df["Tour title"] = df["Tour title"].str.strip()
df.head()

,Actual Gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Shows,Average gross,StartYear
0,780000000,780000000,Taylor Swift,The Eras Tour,56,13928571,2023
1,579800000,579800000,Beyoncé,Renaissance World Tour,56,10353571,2023
2,411000000,560622615,Madonna,Sticky & Sweet Tour,85,4835294,2008
3,397300000,454751555,Pink,Beautiful Trauma World Tour,156,2546795,2018
4,345675146,402844849,Taylor Swift,Reputation Stadium Tour,53,6522173,2018

In [10]:
df.to_csv("cleaned_dataset.csv", index=False)
print("File Saved Susscessfully")

File Saved Susscessfully